header{
    display: block;
    height: 150px;
    width: 100%;
}

.left
{
    display: block;    
    justify-content: center;
    align-items: left;
    float: left;
    width: 350px;
    position: absolute;
}

.photo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid white;
    margin-left: 80px;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    margin-top: 20px;
    font-size: 18pt;
    color: grey;
    text-align: center;
}

.info{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -5px;
    margin-left: 15px;
    margin-bottom: 5px;
    font-size: 12pt;
    color: rgb(148, 144, 144);
    text-align: center;
}

.counts{
    display: inline-flex;
    margin: 25px 0px 0px 55px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.digits {
    font-size: 14pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(148, 144, 144);
    text-align: center;
}

.text1 {
    margin-top: -15px;
    font-size: 10pt;
    padding-bottom: 25px;
    color: rgb(148, 144, 144);
    text-align: center;
  }

 .details{
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      color: rgb(161, 154, 154);
      padding-bottom: 15px;
      border-bottom: 1px solid rgb(230, 228, 228);
      text-align: center;
  }
  
.socialMedia img{
    display: inline-block;
    margin: 15px 0px 0px 45px;
    width: 30px;
    height: 30px;
}

.images1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 10px;
}

.images1 img {
    width: 300px;
    height: 230px;
    display: block;
    margin-left: 20px;
}

.tabs{
    display: inline-flex;
}

#follow{
    position: unset;
    display: inline-block;
    background-color: aqua;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    margin: 49px 0px 10px 30px;
    padding: 5px 5px 5px 5px;
    color: white;
}

.right{
    padding: 120px 25px 0 370px;      
}

.list {
    display: inline-flex;
  }

.list li
{
    position: unset;
    display: inline-block;
    list-style-type: none;
    margin-left: 80px;
    padding: 40px 60px 0px 0px;
    font-size: 12pt;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: gray;
    text-align: center;
}


header>img{
    width: 1400px;
    height: 250px;
}








  
